/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--color-light);
    text-decoration: none;
}

ul { list-style: none; }

/* VARIÃVEIS */
:root {
    --color-light: #FFF;
    --color-dark: #000;
    --color-red: #FF0000;
    --color-darkgray: #7D7D7D;
}

/* HTML &BODY */
html, body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* HEADER */
.header {
    width: 100%;
    background-color: var(--color-dark);
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    z-index: 999;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu, .enroll-container { display: none; }
.nav-link {
    padding: .5rem;
    transition: color .3s ease;
}
.nav-link:hover { color: var(--color-red); }
.enroll-btn, .hero-btn {
    background-color: var(--color-red);
    display: inline-block;
    font-weight: bold;
    border: 1px solid var(--color-red);
    border-radius: .5rem;
    margin-top: 1rem;
    padding: .75rem 2.5rem;
    transition: .3s ease;
}
.enroll-btn:hover, .hero-btn:hover { background-color: transparent; }
.menu-icon { font-size: 1.25rem; }
.navigation-mobile {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height .5s ease;
}
.navigation-mobile.open { max-height: 500px; }
.nav-menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

/* MAIN > SECTION */
main > section {
    margin-bottom: 2rem;
    padding: 120px 2rem 2rem;
}

/* HERO */
.hero {
    min-height: 100vh;
    background: url(../images/bg-hero.png) no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-title {
    font-size: 2.5rem;
    line-height: 3rem;
}
.red { color: var(--color-red); }

/* ABOUT */
.about-img { display: none; }
.about-header, .services-header, .prices-header,
.plan-header, .contact-header {
    text-align: center;
}
.about-title, .services-title {
    display: inline-block;
    border-bottom: 4px solid var(--color-red);
}
.about-subtitle {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.about-list {
    display: grid;
    gap: 1.5rem;
}
.about-item-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
}
.about-item-description { color: var(--color-darkgray); }

/* SERVICES */
.services-header,
.trainers-header { margin-bottom: 5rem; }
/* SWIPER */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper { margin: 2.5rem 0; }
.swiper-slide {
    background-color: var(--color-red);
    overflow: hidden;
    text-align: center;
    border-radius: .5rem;
}
.swiper-img {
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-description { padding: .5rem 0; }
.swiper-pagination-bullet { background-color: var(--color-red); }

/* TRAINERS */
.trainers {
    background: url(../images/bg-treinadores.svg) no-repeat center top;
    background-size: cover;
    text-align: center;
}
.trainer-container {
    display: grid;
    gap: 4rem;
    margin-top: 2rem;
}
.trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

/* PRICES */
.prices, .pricing-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}
.plan {
    width: 255px;
    height: fit-content;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 2rem;
}
.plan-price {
    font-size: 1.5rem;
    font-weight: bold;
}
.plan-feature { margin: 1.5rem 0; }
.plan-signup-link {
    background-color: var(--color-dark);
    font-weight: bold;
    padding: .5rem;
    transition: background-color .3s ease;
}
.plan-signup-link:hover { background-color: var(--color-red); }

/* CONTACT */
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;
}
.contact-form {
    width: 100%;
    max-width: 400px;
    background-color: var(--color-light);
    border-radius: .5rem;
    padding: 2rem;
}
.input-group {
    margin: 2rem 0;
}
.input-group input {
    width: 100%;
    background-color: #F2F2F2;
    outline: none;
    border: none;
    padding: 1rem;
}
.input-group input[type="submit"] {
    background-color: var(--color-dark);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease;
}
.input-group input[type="submit"]:hover { background-color: var(--color-red); }

/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.footer h2 { margin-bottom: 1rem; }
.label { font-weight: bold; }
.social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon-link { font-size: 1.75rem; }

/* RESPONSIVIDADE */
@media screen and (min-width: 768px) {
    /* HERO */
    .hero {
        justify-content: flex-start;
        text-align: left;
    }
    .hero-title { font-size: 3.25rem; }

    /* ABOUT & TRAINER*/
    .about-list,
    .trainer-container { grid-template-columns: repeat(2, 1fr); }

    /* TRAINERS */
    .trainers-header, .prices-header,
    .contact-header { font-size: 1.25rem; }
}

@media screen and (min-width: 1024px) {
    /* HEADER */
    .header { background-color: transparent; }
    .header.scrolling { background-color: var(--color-dark); }
    .navigation-mobile,
    .btn-menu { display: none; }
    .nav-menu, .enroll-container { display: flex; }
    .nav-menu { gap: 1.5rem; }

    /* ABOUT */
    .about {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }
    .about-img { display: block; }
    .about-header { text-align: left; }

    /* TRAINER */
    .trainer { flex-direction: row; }
    .trainer-info { text-align: left; }

    /* PRICES, CONTACT & FOOTER */
    .prices, .contact,
    .footer { justify-content: center; }
    .prices-header,
    .contact-header {
        font-size: 1.5rem;
        text-align: left;
    }
}

@media screen and (min-width: 1440px) {
    /* HERO */
    .hero-title {
        font-size: 5rem;
        line-height: 5rem;
    }

    /* ABOUT & SERVICES */
    .about-header,
    .services-header { font-size: 1.5rem; }

    /* PRICES & CONTACT */
    .prices,
    .contact { justify-content: space-evenly; }

    /* FOOTER */
    .footer { justify-content: space-around; }
}